<div>{{title}}</div>
<table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let row"> {{row.city}} </td>
      </ng-container>
    
      <!-- Age Definition -->
      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.start_date}} </mat-cell>
      </ng-container>
    
      <!-- Title Definition -->
      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.end_date}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
      </ng-container>
    
      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['city', 'start_date', 'end_date', 'price', 'status', 'color']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['city', 'start_date', 'end_date', 'price', 'status', 'color']"></mat-row>
</table>